WebContent/wsdl/Android.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pkg" xmlns:intf="http://pkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getData">
    <complexType>
     <sequence>
      <element name="data" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDataResponse">
    <complexType>
     <sequence>
      <element name="getDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataResponse">

      <wsdl:part element="impl:getDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDataRequest">

      <wsdl:part element="impl:getData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Android">

      <wsdl:operation name="getData">

         <wsdl:input message="impl:getDataRequest" name="getDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDataResponse" name="getDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AndroidSoapBinding" type="impl:Android">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AndroidService">

      <wsdl:port binding="impl:AndroidSoapBinding" name="Android">

         <wsdlsoap:address location="http://localhost:8180/ASEServer/services/Android"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
